<form name="searchForm" role="form">
  <div class="form-group">
    <!--label的for和input的id相同为了聚焦-->
    <label for="productTitle">商品名称：</label>
    <input type="text" id="productTitle" placeholder="商品名称" class="form-control">
  </div>
  <div class="form-group">
      <label for="productPrice">商品价格：</label>
      <input type="number" id="productPrice" placeholder="商品价格" class="form-control">
  </div>
  <div class="form-group">
      <label for="productCategory">商品类别：</label>
      <select name="" id="productCategory" class="form-control"></select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">搜索</button>
  </div>
</form>
